.main {
	margin-top: 10px;
}

.logo {
	vertical-align: middle;
	font-size: 20px;
}

.entry {
	text-align: center;
	background-color: #4F5A6E;
	height: 50px;
}

.entry-buttons {
	vertical-align: middle;
}